header, footer {
    background-color: var(--primary);
    color: var(--primary-inverse);
    font-size: 1.4em;
    font-weight: bold;
}

body {
min-height: 100vh;
display: grid;
grid-template-rows: auto 50px 1fr 0 1 auto;
margin: 0;

}
article {
    margin: 0;
    padding: 0;
    
    background-color: yellow;
    
}
article ul li {
    color: red;
    list-style: none;

}

.cantidad {
    color: red;
    
}
p.error{
    color: red;
    font-weight: bold;
}